
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<body>
<center>
    <h1> ADMIN</h1>
    <button class="button1" >ADD A NEW GOAL</button>
    <br />
    <br />
    <button class="button1">ADD AN ACTUAL GOAL VALUE</button>
    <br />
    <br />
    <button class="button1">EDIT ABOUT</button>
    <br />
    <br />
    <button class="button1">ADD A NEW ITEM</button>
</center>
    </body>
