@model CYJ.Models.ViewModels.TeamViewModel
    @{ 
        Layout = "~/Views/Shared/_mytemplate.cshtml";
    }
<h2>New Team</h2>
<style>
    input {
        border: 0;
    }
</style>
<div class="container" style="width:40%;margin-top:25%">
    @Html.TextBoxFor(model => model.teamName, new { @class = "form-control", @placeholder = "Enter Team Name" })
    <br />
    <input type="Submit" name="teamName" value="Add Team" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Added", "Home") + "'")" ; />
</div>