@model CYJ.Models.ABOUT

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>New About Post</h2>

@using (Html.BeginForm()) 
{
    
<div class="form-horizontal">
    <h2 class="aboutheader" style="color:white">ABOUT</h2>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.about1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.about1, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to About page", "Home")
</div>
